@model IList<SprintPlannerZM.Model.Examenrooster>
@{
    var count = 0;
    var idMaker = "";
}
<br />
<section class="left-allignToNav pt-5 containerAgenda">
    <div class="tbl-headerAgenda">
        <table>
            <thead>
                <span class="text-center text-white">
                    <b>
                        <h5>Januari @Model[0].datum</h5>
                    </b>
                </span>
            </thead>
        </table>
    </div>
    <div class="tbl-contentAgenda">
        <div id="planner">
            @foreach (var examen in Model)
            {
                count++;
                idMaker = "position" + count;
                <div class="card-body cardBodyCSS align-items-center cardMargin" id="@idMaker">
                <h6>@examen.datum</h6><a  type="button" asp-controller="Admin" asp-action="LeerlingVerdeling" asp-route-datum="@examen.datum" class="btn btn-center btn-gen">Genereer</a>
            </div>
            }
        </div>
    </div>
</section>

<div class="containerCenterHor left-allignToNav pt-4">
    <button asp-action="" class="btn btn-primary mr-3 "> Genereer </button>
    <button asp-action="" class="btn btn-primary ml-3 "> Consulteer </button>
</div>