@model SprintPlannerZM.Model.Klas

<section class="left-allignToNav pt-3">
    <div class="tbl-header">
        <table>
            <thead>
            <tr>
                <th class="h6">Keuze sprint/typer/m-klas</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        @{
            var count = 0;
        }
        @foreach (var vak in Model.Vakken)
        {
            if (vak.sprint)
            {
                @foreach (var sprintvak in vak.Sprintvakkeuzes)
                {
                    count++;
                    <div class="trBordercolor container">
                        <div class="">
                            <div class="pt-2 containerllnoverzicht">
                                <h6 class="w-20" id="vaknaam{@count}"> @vak.vaknaam</h6>
                                <span> Sprint </span>
                                <input id="vakSprint{@count}" type="checkbox" class="ml-lg-n5 mt-1" @(Convert.ToBoolean(sprintvak.sprint) ? "checked='checked'" : string.Empty)>
                                <span> Typer </span>
                                <input id="vakTyper{@count}" type="checkbox" class="ml-lg-n5 mt-1" @(Convert.ToBoolean(sprintvak.typer) ? "checked='checked'" : string.Empty)>
                                <span> M-Klas </span>
                                <input id="vakMklas{@count}" type="checkbox" class="ml-lg-n5 mt-1" @(Convert.ToBoolean(sprintvak.mklas) ? "checked='checked'" : string.Empty)>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</section>
<button id="btnUpdate" class="btn btn-primary mt-md-n2 margin"> Bevestig </button>