<section class="left-allignToNav pt-3">
    <div class="tbl-header">
        <table>
            <thead>
            <tr>
                <th class="h6">Type generatie</th>
                <th class="h6">Overzicht weergave</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <div class="container">
            <table>
                <tr class="trBordercolor">
                    <td>
                        <span id="aantalPerDul">Aantal per dag / uur/ lokaal</span>
                    </td>
                    <td>
                        <a asp-action="AantalPerDul">Word maken</a>
                    </td>
                </tr>
                <tr class="trBordercolor">
                    <td>
                        <span id="toezichtPerLeerkracht">Toezicht per leerkracht</span>
                    </td>
                    <td>
                        <a asp-action="ToezichtPerLeerkracht">Word maken</a>
                    </td>
                </tr>
                <tr class="trBordercolor">
                    <td>
                        <span id="examenPerLeerling">Toezicht per leerkracht</span>
                    </td>
                    <td>
                        <a asp-action="ExamenPerLeerling">Word maken</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>