@model IList<SprintPlannerZM.Model.Leerkracht>

<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <link href="~/css/bootstrap-extensions.css" rel="stylesheet" asp-append-version="true"/>
    <script src="~/js/site.js"></script>

</head>

<br/>
<div class="containerRadioButton left-allignToNav">
    <input checked class="mt-1" id="isAlles" name="keuzeToez" type="radio" value="False">
    <label class="ml-n5 text-color-white" for="isAlles">Toon alles</label>
    <input class="mt-1" id="isGeenToez" name="keuzeToez" type="radio" value="False">
    <label class="ml-n5 text-color-white" for="isGeenToez">Geen toezichter</label><br>
    <input class="mt-1" id="isToez" name="keuzeToez" type="radio" value="False">
    <label class="ml-n5 text-color-white" for="isToez">Toezichters</label><br>
</div>
<section class="left-allignToNav pt-3">
    <div class="tbl-header">
        <table>
            <thead>
            <tr>
                <th class="h6" rowspan="4">
                    <div class="containerDropdowns ">
                        <form class="col-4">
                            <select class="form-control select2" id="cmbLeerkrachten">
                                <option id="index">---Kies ne leerkracht---</option>
                                @foreach (var leeraar in Model)
                                {
                                    <option value="@leeraar.leerkrachtID">@leeraar.achternaam @leeraar.voornaam</option>
                                }
                            </select>
                        </form>
                    </div>
                </th>
            </tr>
            </thead>
        </table>
    </div>
    <div id="partialView"></div>
</section>

<script>
    $(".select2").select2();
    $(document).ready(function() {
        $("#partialView").load("PartialAlleLeerkrachten");
    });
    $("#cmbLeerkrachten").change(function() {
        if ($(this).children(":selected").attr("id") !== "index") {
            $("#partialView").load("PartialComboToezichters", { leerkrachtID: $(this).find('option:selected').val() });
            $("input[type='radio']").attr("checked", false);
        } else {
            $("#partialView").load("PartialAlleLeerkrachten");
        }
    });
    $('.mt-1').change(function() {
        if ($(this).attr('id') == 'isAlles') {
            $("#partialView").load("PartialAlleLeerkrachten");
        } else if ($(this).attr('id') == 'isGeenToez') {
            $("#partialView").load("PartialGeenToezichters");
        } else if ($(this).attr('id') == 'isToez') {
            $("#partialView").load("PartialToezichters");
        }
    });

    //$("#cmbLeerkrachten").val('kies');
    //$(".select2").select2({
    //    placeholder: "Kies een leerkracht"
    //});

    //$("#cmbLeerkrachten").change(function() {
    //    const leerkrachtID = $(this).find('option:selected').val();
    //    $.ajax({
    //        type: "POST",
    //        url: `PartialComboToezichters`,
    //        data: { "leerkrachtID": leerkrachtID },
    //        success: function(response) {
    //            $("#partialView").html(response);
    //        }
    //    });
    //});
</script>