@model IList<string>

<div class="containerllnoverzicht pt-5">
    <button id="beherenLeerlingen" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Leerlingen</button>
    <button id="beherenLeerkrachten" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Leerkrachten</button>
    <button id="beherenVakken" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Vakken</button>
    <button id="beherenKlassen" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Klas</button>
    <button id="beherenLokalen" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Lokalen</button>
</div>

@*Warning Modal voor lange mogelijke wachtijd*@
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Wachttijd</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Opgelet de wachtijd kan oplopen <br />
                Elke digitale cel is hard aan het werk voor u<br />
               Dank u voor u geduld <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="pt-3" id="cmbLijsten">
</div>
<div class="containerBeheer mt-5">
    <div class=" p-1 m-2">
        <div id="beheerWeergave">
        </div>
    </div>
</div>