@model IList<string>

<div class="containerllnoverzicht pt-5">
    <button id="beherenLeerlingen" class="btn btn-secondary">Leerlingen</button>
    <button id="beherenLeerkrachten" class="btn btn-secondary">Leerkrachten</button>
    <button id="beherenVakken" class="btn btn-secondary">Vakken</button>
    <button id="beherenKlassen" class="btn btn-secondary">Klas</button>
    <button id="beherenLokalen" class="btn btn-secondary">Lokalen</button>
</div>

<div class="containerBeheer mt-5">
    <div class=" p-1 m-2">
        <div id="beheerWeergave">
            @if (Model != null)
            {
                @foreach (var message in Model)
                {
                    <span>@message</span>
                }
            }
        </div>
    </div>
</div>