@model IList<string>

<div class="containerllnoverzicht pt-5">
    <button id="beherenLeerlingen" class="btn btn-secondary">Leerlingen</button>
    <button id="beherenLeerkrachten" class="btn btn-secondary">Leerkrachten</button>
    <button id="beherenVakken" class="btn btn-secondary">Vakken</button>
    <button id="beherenKlassen" class="btn btn-secondary">Klas</button>
    <button id="beherenLokalen" class="btn btn-secondary">Lokalen</button>
</div>

<div class="containerBeheer mt-5">
    <div class=" p-1 m-2">
        <div class="pt-3" id="partialViewLeerling">
            <div class="containerDropdowns left-allignToNav">
                <form>
                    <select class="form-control select2 textBoxLayout" id="cmbLijsten">
                        <option id="leerlingIndex">---Kies ne leerling---</option>
                        @*@foreach (var klas in Model)
                        {
                            @foreach (var leerling in klas.Leerlingen)
                            {
                                <option value="@leerling.leerlingID">@leerling.familieNaam @leerling.voorNaam</option>
                            }
                        }*@
                    </select>
                </form>
            </div>
        </div>
        <div id="beheerWeergave">
        </div>
    </div>
</div>