@model dynamic
    <div class="pb-5">
    </div>
<div class="tbl-content text-align ">
    <h3 class="pt-3 ">Welkom Beheerder</h3>
        <p><h5>Uitleg over importeren</h5></p>
        <p><h5>Uitleg over Beheren</h5></p>
        <p><h5>Gevaren over Beheren</h5></p>
</div>
