@model SprintPlannerZM.Model.Leerling

<div class=" card text-black-50 p-1 m-2" style="width: 14rem;">
<div class="card-header">
    @Model.familieNaam @Model.voorNaam
</div>
<div class="card-body text-black-50">
    <span> klasID: @Model.KlasID</span><br>
    <span> Stamboek SmartS. : @Model.leerlingID</span><br>
</div>
</div>