@model IList<SprintPlannerZM.Model.Leerling>

<form>
    <select class="form-control select2 textBoxLayout">
        <option id="leerlingIndex">---Kies ne leerling---</option>
        @foreach (var leerling in Model)
        {
            <option value="@leerling.leerlingID">@leerling.voorNaam</option>
        }
    </select>
</form>