@model SprintPlannerZM.Model.Vak

<div class=" card text-black-50 p-1 m-2" style="width: 14rem;">
    <div class="card-header">
        @Model.vaknaam @Model.vakID
        van klas @Model.klasID
    </div>
</div>