<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js" ></script>
    <link href="~/css/bootstrap-extensions.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/js/site.js"></script>
</head>

<div class="container left-allignToNav mt-2">
    <div class="row justify-content-center">
        <form class="col-4">
            <select class="form-control select2 ">
                <option>6STWW</option>
                <option>2KBAB</option>
                <option>3KBAB</option>
                <option>4KBAB</option>
                <option>5KWB</option>
                <option>2KBAR</option>
            </select>
        </form>
        <form class="col-4">
            <select class="form-control select2">
                <option>Balthasar Boma</option>
                <option>Xavier Waterslaeghers</option>
                <option>Maurice de Praetere</option>
                <option>Fernand Costermans</option>
                <option>Marc Vertongen</option>
                <option>Pol De Tremmerie</option>
            </select>
        </form>
    </div>
</div>


<script>
    $('.select2').select2();
</script>

<div class="container justify-content-center left-allignToNav">
    <div class="card card-position text-center bg-info w-75 ">
        <div class="card-header">
            3KBAB
        </div>
        <table class="card-tables bg-white table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Sprint</th>
                <th scope="col">Typer</th>
                <th scope="col">M-Klas</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Mark Otto </td>
                <td> <input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr>
                <td>Jacob Thornton </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr>
                <td>James Cooke </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            </tbody>
        </table>
        <div class="card-footer bg-dark text-muted">
        </div>
    </div>
</div>
<div class="btnCenterwrapper left-allignToNav">
    <button asp-action="" class="btn btn-primary btnCenter "> Bevestig </button>
</div>





