
<section class="left-allignToNav pt-3">
    <div class="tbl-header">
        <table>
            <thead>
            <tr>
                <!--class h6 om zo via bootstrap title ook responsive maken-->
                <th class="h6">Naam</th>
                <th class="h6">Sprint</th>
                <th class="h6">Typer</th>
                <th class="h6">M-Klas</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table>
            <tbody>
            <tr class="trBordercolor pt-2">
                <td>Mark Otto</td>
                <td> <input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr class="trBordercolor">
                <td>James Cooke </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr class="trBordercolor">
                <td>Jan claes </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr class="trBordercolor">
                <td>Jacob Thornton </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr class="trBordercolor">
                <td>Jacob Thornton </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr class="trBordercolor">
                <td>Jacob Thornton </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr class="trBordercolor">
                <td>Jacob Thornton </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr class="trBordercolor">
                <td>Jacob Thornton </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr class="trBordercolor">
                <td>Jacob Thornton </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr class="trBordercolor">
                <td>Jacob Thornton </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr class="trBordercolor">
                <td>Jacob Thornton </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr class="trBordercolor">
                <td>Jacob Thornton </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr class="trBordercolor">
                <td>Jacob Thornton </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr class="trBordercolor">
                <td>Jacob Thornton </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr class="trBordercolor">
                <td>Jacob Thornton </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr class="trBordercolor">
                <td>Jacob Thornton </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr class="trBordercolor">
                <td>Jacob Thornton </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            <tr class="trBordercolor">
                <td>Jacob Thornton </td>
                <td><input type="checkbox" id="" name="" value=""> Sprint</td>
                <td><input type="checkbox" id="" name="" value=""> Typer</td>
                <td><input type="checkbox" id="" name="" value=""> M-Klas</td>
            </tr>
            </tbody>
        </table>
        
    </div>
</section>
<div class="containerDropdowns left-allignToNav tableFixFooter">Totaal: 25</div>
<div class="containerCenterHor left-allignToNav pt-4">
    <button asp-action="" class="btn btn-primary btnCenter "> Bevestig </button>
</div>