#planner {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    align-items: center;
}

#position1 {
    grid-column-start: 1;
}
#position2 {
    grid-column-start: 2;
}
#position3 {
    grid-column-start: 3;
}
#position4 {
    grid-column-start: 4;
}
#position5 {
    grid-column-start: 5;
}
#position6 {
    grid-row-start: 3;
    grid-column-start: 1;
}

#position7 {
    grid-row-start: 3;
    grid-column-start: 2;
}

#position8 {
    grid-row-start: 3;
    grid-column-start: 3;
}

#position9 {
    grid-row-start: 3;
    grid-column-start: 4;
}

#position10 {
    grid-row-start: 3;
    grid-column-start: 5;
}

.cardMargin {
    margin-top: 5rem;
    margin-left: 2rem;
}

.btn-gen {
    background-color: rgb(250, 151, 95);
    color: black;
    width: 100px;
}

.btn-gen:hover {
    background-color: white;
    color: black;
}
