.container {
    padding: 0.01em 16px
}

.licht-grijs {
    color: #000 !important;
    background-color: #f1f1f1 !important;
    border:5px solid rgb(250, 151, 95)!important ;
}

.turk {
    color: #fff !important;
    background-color: rgb(0,155,168) !important;
}

.trumpkleur {
    color: rgb(250, 151, 95)!important
}

.buttontje {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}