@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Bij onze Beta versie van "De Sprintplanner". <i>By Geoffrey & Niels.</i></p>

</div>
