@{
    ViewData["Title"] = "Home Page";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/css/bootstrap-extensions.css" rel="stylesheet" />
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Login Pagina</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/login.css" asp-append-version="true">
    <script src="~/js/google.js"></script>
</head>

<body>

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <meta name="google-signin-client_id" content="300704695807-qqhvmrt48k8v91lbob96g0u277c5clei.apps.googleusercontent.com">
                        <span><i id="googleSignup" class="fab fa-google-plus-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form action="HomeController/LoginCheck" method="post">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="E-mail">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="password">
                        </div>
                        <div class="row align-items-center remember">
                            <asp:CheckBox ID="chkPassport" Text="Do you have Passport?" runat="server" />
                            <asp:Checkbox id="chkTest" runat="server" oncheckchanged="RememberCheck" autopostback="true"></asp:Checkbox>
                            <input type="checkbox" name="Remember" id="Remember">Remember Me
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="form-group position-relative">
                        <a type="submit" name="" value="Login" asp-action="AdminIndex" class="btn btn-center login_btn btn-center"> Login </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
