
@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Redirect Page</h2>
<img src="https://i.giphy.com/media/S8TzelADdK7md7YaKl/giphy.gif" alt="hallo" width="1080" height="720" />
