<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]ADMIN AREA BETA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-extensions.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
</head>
<body>
    <img class="float-right img-thumbnail" src="~/img/tihf.png" alt="Logo TIHF" />
<!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3"> -->
<nav class="wrapper">
    <div class="sidebar">
        <img src="~/img/tihf goede start.jpg" width="245" height="245" alt="Navigatie achtergrond"/>
        <ul>
            <li>
                <a class="fas" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a class="fas" asp-area="Admin" asp-controller="Home" asp-action="LeerlingOverzicht">Leerling overzicht</a>
            </li>
            <li>
                <a class="fas" asp-area="Admin" asp-controller="Home" asp-action="Index">Klasverdeling sprint</a>
            </li>
            <li>
                <a class="fas" asp-area="" asp-controller="Home" asp-action="Index">Toezichters</a>
            </li>
            <li>
                <a class="fas" asp-area="Admin" asp-controller="Home" asp-action="Index">Overzichten</a>
            </li>
            <li>
                <!--class="nav-link text-light"-->
                <a class="fas" asp-area="" asp-controller="Home" asp-action="Index">Log Out</a>
            </li>
        </ul>
    </div>

</nav>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class=" footer">
    <div class="container text-light ">
        <p>
            Technisch Instituut Heilige Familie | Oude Zak 38 | 8000 Brugge | info@tihf.be | Tel. 050 44 59 59 <br/> vzw Karel de Goede
        </p>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
