

<div class="containerllnoverzicht pt-5">
    <button id="importTitulEnKlas" class="btn btn-secondary">Stap1 titularis/klas</button>
    <button id="ImportKlasVakLeerkrLeerlEnRelaties" class="btn btn-secondary">Stap2 studenten/leerkrachten/vak</button>
    <span>   <input  class="btn btn-secondary" id="CertImageFile" type="file" ><button class="btn btn-light" onclick="Submit()">CSV Lokaal verzend</button>
    </span>
 </div>

<div class="tbl-content mt-5">
    <div class="containerLeerkrachten">
        <div class=" p-1 m-2">
            <div id="berichtWeergaveDiv"></div>
        </div>
    </div>
</div>

